<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <meta charset="utf-8">
    <title>Hello coursera</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <h1>Name Calculator</h1>
<!-- Name calculator -->
    <div ng-Controller="nameCalcController">
      <div>
        Enter Name: <input type="text"
        ng-model = "name1"
        ng-keyup="displaynumeric()">
        Total value of person's name is:{{totalVal}}
      </div>

    </div>
    <hr/>
    <!-- Dependency Injection  -->
    <div ng-controller = "DIController">
      <h1>Dipendency Injection</h1>
    Enter name:  <input type="text" ng-model="name2" ng-keyup="upper()">
    </div>

    <!-- Custom Filter -->
    <div class="" ng-controller="CustomFilter">
      Actual msg: {{Amsg()}}<br>
      Truth msg: {{Trmsg()}}<br>
      TRUTH msg: {{Trmsg() | truth: 'healthy': 'cookie'}} <br>
      BIG TRUTH: {{Trmsg() | truth: 'healthy': 'cookie'|uppercase}}

    </div>
    <hr>
    <!-- Watchers-->
    <div class="" ng-controller="CounterController">
      <div class="">
        <button type="button" ng-click="noOfWatch()" name="button">No. Of Watchers</button><br>
      </div>
      <button type="button" ng-click="onceCounterr()" name="button">Once Counter</button>
      <button type="button" ng-click="upCounter()" name="button">Increment Counter</button>
      <div class="">
        Once Counter: {{onceCounter}}<br>
        Counter: {{counter}}
      </div>
    </div>
    <!-- Angular Binding -->
    <hr>
    <h1>2-way, 1-way and 1-time binding</h1>
    <div ng-controller = "BindingController">
      <button type="button" ng-click = "showNoOfWatchers()" name="button">Log # of Watchers </button>
      <button type="button" ng-click="setFullName()" name="button">Set Full Name</button><br>
      Full name: {{::fullName}} <br>

      <button type="button" ng-click="logFirstName()" name="button"> First Name Log</button>
      <button type="button" ng-click="logFullName()" name="button"> Full Name Log</button>

      <div class="">
      <input type="text" ng-model="firstName" name="name" value="">
      </div>
    </div>

  </body>
</html>
